{% extends "base.html" %}

{% block title %}Create Post{% endblock %}
{% block name %}Make A Post{% endblock %}

{% block content %}
<form method="POST">
    <textarea name="text" id="text" class="form-control"></textarea>
    </br>
    <div align="center">
        <button type="submit" class="btn btn-lg btn-info" style="color:white; background-color:#008B8B">Post</button>
        <a href="/home"><button type="button" class="btn btn-lg btn-secondary ">Back</button></a>
    </div>
</form>
{% endblock %}