{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
</br>
<div id="posts">
    {% for post in posts %}
        <div class="card border-dark mb-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="posts/{{post.user.username}}" class="badge rounded-pill text-bg-dark" style="text-decoration: none; font-size:15px;">{{post.user.username}}</a>
                <div>
                    {{post.likes|length}}
                    {% if user.id in post.likes|map(attribute="author")|list %}
                    <a href="/like-post/{{post.id}}"><i class="fas fa-thumbs-up"></i></a>
                    {% else %}
                    <a href="/like-post/{{post.id}}"><i class="far fa-thumbs-up"></i></a>
                    {% endif%}
            
                    {% if user.id == post.author %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown"></button>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li><a class="dropdown-item" href="/delete-post/{{post.id}}">Delete</a></li>
                        </ul>
                    </div>  
                    {% endif %}
                </div>
            </div>  
            <div class="card-body">
                <div class="card-text">{{post.text}}</div>
                </br>
                <div class="collapse" id="comments-{{post.id}}">
                    <div class="card">
                        <div class="card-body" id="comments-expanded-{{post.id}}">
                            {% for comment in post.comments %}
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a href="/posts/{{comment.user.username}}" class="badge rounded-pill text-bg-dark" style="text-decoration: none; font-size:15px;">{{comment.user.username}}</a>: {{comment.text}}
                                    </div>
                                    <div>
                                        <small class="text-muted">{{comment.date_created}}</small>
                                        {% if user.id == comment.author or user.id == post.author %}
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown"></button>
                                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                            <li><a class="dropdown-item" href="/delete-comment/{{comment.id}}">Delete</a></li>
                                            </ul>
                                        </div>  
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <p class="card-text">
                    {% if post.comments|length > 0 %}
                        <a class="fw-bold" style="text-decoration:none;" data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
                            <small>View {{post.comments|length}} Comments</small>
                        </a>
                    {% else %}
                        <small class="text-muted">No Comments</small>
                    {% endif %}
                </p>
                <form action="/create-comment/{{post.id}}" class="input-group mb-3" method="POST">
                    <input type="text" name="text" id="text" class="form-control" placeholder="Comment something here!">
                    <button class="btn btn-secondary" type="submit">Comment</button>  
                </form>
            </div>
            <div class="card-footer text-muted">
                {{post.date_created}}
            </div>
        </div>
    </br>
    {% endfor%}
</div>
{% block footer%}
<div align="center">
    <a href="/create-post"><button type="button" class="btn btn-lg btn-secondary" style="background-color:#008B8B">Create a Post</button></a>
</div>
{% endblock %}

{% endblock %}