{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST">
    <div align="center"><h1>Sign Up</h1></div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter Username">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" placeholder="Enter Password">
        <label for="password2">Password Again</label>
        <input type="password" class="form-control" id="password2" placeholder="Enter Password Again">
    </div>
    </br>
    <div align="center">
        <button type="submit" class="btn btn-success">Sign up</button>
    </div>

</form>
{% endblock %}